table#tabelaspec {
    border: 1px solid #606060;
    border-spacing: 0px;
    margin-left:auto; 
    margin-right:auto; 
   }
   table#tabelaspec td {
    border: 1px solid #606060;
    padding: 10px;
    text-align: center;
    vertical-align: top;
   }
   table#tabelaspec td.ce {
    text-align: right;
    background-color: #606060; 
    color:#ffffff;
    font-weight: bold;
   }
   table#tabelaspec td.cd {
    background-color: #dddddd;
    text-align: left;
   }
   table#tabelaspec caption {
    color: #888888;
    font-size: 13pt;
    font-weight: bolder;
   }
   table#tabelaspec caption span {
    display: block;
    float: right;
    color: black;
    font-size: 8pt;
    margin-top: 10px;
   } 